
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
 
}
header{
    background-color: antiquewhite;
    background: url(../images/developer.png), url(../images/header_bg.png), antiquewhite;
    background-position:top left, bottom right;
    background-repeat: no-repeat;
    padding-top: 50px;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;
    width:71%;
    max-width: 1340px;
    margin:0 auto;

}
.logo{
    width: 150px;
    color: rgb(213, 29, 29);
}
.logo_colo{
    color: darkorange;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 40px;
    text-align: center;
    text-decoration: none;

}
nav ul li a{
    text-decoration: none;
    color: rgb(213, 29, 29);
    font-size: 18px;
}
nav ul li a:hover{
    color: darkorange;
    transition: 0.3s;
}
.btn{
    background-color: rgb(213, 90, 29);
    border:none;
    padding:18px 35px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;

    
}
.btn:hover{
    background-color: darkorange;
    transition: 0.3s;
}
    
    
 #banner{
    margin-top: 47px;
    margin-left: 230px;
    margin-right:48px;
    display:flex;
    justify-content: space-between;
    gap: 200px;
    align-items: center;

    

}
.banner-content{
    max-width: 585px;
}
#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: rgb(213, 90, 29);
    margin-bottom:  5px;
} 
#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;

    margin-bottom: 20px;
    color: rgb(200, 32, 13);
}
.banner-content
{
    justify-content: space-around;
}
#banner .banner-content p{
    font-size: 18px;
    margin-bottom: 30px;
    color:rgb(213, 90, 29);
    line-height: 35px;
}

#banner  .banner-img img{
   max-width: 500px;
   max-height: 600px;
   vertical-align: middle; 
    
}
#about{
    padding-top: 130px;;
}
#about .about-content{
    width:71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: antiquewhite;
    padding: 131px 156px;
}
.section-heading{
    max-width: 827px;
    text-align: center;

}
.section-heading h2{
    font-size: 36px;
    margin-bottom: 30px;
    color: rgb(213, 90, 29);
}
.section-heading p{
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color:rgb(213, 90, 29);
}
#about .about-content .about-info{
    display: flex;
    justify-content: space-around;
    gap: 50px;
    margin-top: 50px;

    
}
.about-info .info-card{
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    color:rgb(213, 90, 29);
    margin-bottom: 30px;
}
.about-info .info-card p{
    font-size: 17px;
    
}
.about-info .info-card h4{
    font-size: 15px;
    margin-bottom: 15px;
    color:color:rgb(213, 90, 29);
    
    }
    