
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
 
}
header{
    background-color: antiquewhite;
    padding-top: 50px;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;
    width:71%;
    max-width: 1340px;
    margin:0 auto;

}
.logo{
    width: 150px;
    color: rgb(213, 29, 29);
}
.logo_colo{
    color: darkorange;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 40px;
    text-align: center;
    text-decoration: none;

}
nav ul li a{
    text-decoration: none;
    color: rgb(213, 29, 29);
    font-size: 18px;
}
nav ul li a:hover{
    color: darkorange;
    transition: 0.3s;
}